/* reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/* Estilo geral */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(222, 186, 255);
    padding: 20px;
    text-align: center;
}
/* Container Flex */
.container{
    display: flex;
    gap: 16px;
    padding: 20px;
    justify-content: space-between;
}
/* Cards */
.card{
    flex: 1 1 calc(25% - 16px);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
/* mobile */
 @media(max-width: 600px){
    .card{
        flex: 1 1 100%;
    }
    
 }
/* tablet */
@media(min-width: 601px) and (max-width:900px){
    flex: 1 1 calc(50% - 16px);
}